@charset "UTF-8";
/* 头部 */
#Header{width:100%;position:absolute;top:0;left:0;z-index:40;}
/* 导航 */
  #Header .bg{height:90px;width: 100%;position: absolute;left: 0;top: 0; background:#000;opacity: .6;filter:Alpha(opacity=60);z-index:50;}
  .nav{width:100%;height:90px;position:absolute;top:0;left:0;z-index:60;}
    .nav ul{height: 90px;width:1200px; margin:0 auto;list-style: none;}
      .nav ul li{float: left; display: block;padding:25px 10px;}
	    .nav ul li a,.nav ul li a:link{line-height:40px;color:#fff; padding:0 0 0 35px;display:block;background-image: url(../images/icon_nav.png);background-repeat: no-repeat;}
		 .nav ul li.one a{background-position: 0 0;}
		   .nav ul li.one a.cur{background-position: 0 -40px;}
		 .nav ul li.two a{background-position: 0 -80px;}
		   .nav ul li.two a.cur{background-position: 0 -120px;}
		 .nav ul li.three a{background-position: 0 -160px;}
		   .nav ul li.three a.cur{background-position: 0 -200px;}
		 .nav ul li.four a{background-position: 0 -240px;}
		   .nav ul li.four a.cur{background-position: 0 -280px;}
		 .nav ul li.five a{background-position: 0 -320px;}
		   .nav ul li.five a.cur{background-position: 0 -360px;}
		 .nav ul li.six a{background-position: 0 -400px;}
		   .nav ul li.six a.cur{background-position: 0 -440px;}
		 .nav ul li.seven a{background-position: 0 -480px;}
		   .nav ul li.seven a.cur{background-position: 0 -520px;}
	    .nav ul li a:hover,.nav ul li a.cur{color:#f60}
      #Logo{float:left;width:150px;height:90px; margin:0 20px 0 0}
      #Logo img{height:90px;}

/* 幻灯片 */



#main{width:1200px;margin:50px auto;overflow:hidden;}
#main .container{margin: 0;overflow:hidden;}
#main .container_half{float:left;width:588px;}


/* 摄影作品 */
#Photography{float:left;width:1200px;}
#Photography .classifybox{float:left;width:471px;height:228px;background:#F26F28; position:relative; z-index:10;}
  #Photography .classifybox .cheader{float:left;width:190px;height:90px; padding:15px 11px 15px 270px; font-size:14px; line-height:35px;color:#fff;background:#F26F28 url(../images/icon_p.png) no-repeat; text-align:center}
    #Photography .classifybox .cheader h1{line-height:55px;}
  #Photography .classifybox .classify{float:left; width:431px;height:70px; line-height:70px;padding:19px 20px; color:#fff;background:#666 url(../images/bg_classify.png) repeat;}
    #Photography .classifybox .classify li{float:left;width:50px;color:#FFF; margin:0 10px;}
     #Photography .classifybox .classify li a{color:#FFF; margin:0 10px;}
      #Photography .classifybox .classify li a:hover{ color:#F15A29}
    #Photography .classifybox .classify span{float:left;width:20px;color:#FFF;}
  .PhotographyList ul.plist{float:left;width:1200px;position:relative; z-index:9; margin:-228px 0 0 0;}
    .PhotographyList ul.plist li{float:left;margin-bottom:35px;display:inline;width:228px;height:228px;overflow:hidden;position:relative;}
      .PhotographyList ul.plist li .photo{width:228px;height:228px;overflow:hidden;}
      .PhotographyList ul.plist li.first{ margin-left:486px;}
    .PhotographyList .rsp{width:228px;height:228px;overflow:hidden;position: absolute;background:#000;top:0px;left:0px;}
    .PhotographyList .text{position:absolute;width:228px;height:228px;left:-228px;top:0;overflow:hidden;}
    .PhotographyList .text h3{width:228px;margin-top:40px;height:50px;line-height:50px;text-align:center;color:#FFFFFF;font-size:20px;}
    .PhotographyList .text a{text-decoration:none}
    .PhotographyList .text div{text-align:center;color:#FFF;font-size:14px;}



/* 团购活动 */
#Group{float:left;width:1200px;}
#Group .classifybox{float:left; width:282px;height:404px;background:#fff url(../images/bg_classify.png) repeat; margin:0 24px 25px 0;}
  #Group .classifybox .cheader{float:left;width:242px;height:90px;padding:140px 20px 0 20px;font-size:14px; line-height:35px;color:#fff;background:url(../images/icon_g.png) no-repeat; text-align:center}
    #Group .classifybox .cheader h1{ line-height:55px;}
  #Group .classifybox .classify{float:left; width:242px;height:70px; line-height:35px;padding:15px 20px; color:#fff;}
    #Group .classifybox .classify a{color:#FFF; margin:0 12px;}
      #Group .classifybox .classify a:hover{ color:#F15A29}
  .GroupList ul{float:left;width:1200px; z-index:100;position: relative;}
    .GroupList ul li{float:left;width:282px;height:404px;padding:0;margin:0 24px 45px 0; z-index:200;position: relative;display:block;background:#FFF;}
     .GroupList ul li.lf{ margin:0 0 25px 0;}
      .GroupList ul li img{display:block;width:282px;height:176px; overflow:hidden; }
        .GroupList ul li .intro{width:242px;height:140px;padding:15px 20px 0 20px;}
          .GroupList ul li .intro h4{line-height:30px;padding:0 0 10px 0;color:#231F20; font-weight:normal}
            .GroupList ul li:hover intro h4 a{color:#F15A29;}
	      .GroupList ul li .intro p{font-size:12px; line-height:21px; text-align:left; color:#999}
		    .GroupList ul li .other{width:242px;height:55px; line-height:55px;padding:5px 20px 15px 20px;}
   	         .GroupList ul li .other .price{float:left;width:140px;color:#F15A29}
               .GroupList ul li .other .price .y{width:40px;font-size:55px; line-height:55px; padding:0;}
               .GroupList ul li .other .price .n{width:100px;font-size:30px; line-height:30px; padding:4px 0 0 0;}
               .GroupList ul li .other .price .o{width:100px;font-size:12px; line-height:20px; color:#808285;text-decoration: line-through;}
		     .GroupList ul li .other .bt{float:right;margin:15px 0}
		     .GroupList ul li .other .bt a{ width:80px;height:35px; line-height:35px; color:#FFF;font-size:14px;text-align:center; background:#58595B; display:block;border-radius:4px;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
		     .GroupList ul li .other .bt a:hover{background:#F15A29;}
/*
#Recommend{float:left;width:1200px;padding:10px 0; background:#CCC}
  .PhotographyList ul{float:left;width:1200px;padding:10px 0 15px 0;}
  .PhotographyList ul{float:left;width:1200px;}
    .PhotographyList ul li.ex{float:left;width:220px;height:220px; position:relative; overflow:hidden; margin-right:0;}
    .PhotographyList ul li.w{margin:0 15px 15px 0;}
      .PhotographyList ul li.ex img{display:block; height:220px; overflow:hidden}
      .PhotographyList ul li.ex div{width:200px; height:220px; padding:180px 10px 10px 10px; position:absolute; left:0; top:0; background:url(trans.gif); color:#fff; text-shadow:none}
        .PhotographyList ul li.ex div b{display:block; width:220px; height:220px; position:absolute; left:0; top:180px; z-index:1; background:#000; filter: alpha(opacity=40); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); opacity:0.4;}
        .PhotographyList ul li.ex div span{width:200px;height:220px;position:absolute; z-index:500; padding:6px 0; overflow:hidden}
        .PhotographyList ul li.ex div h5{line-height:30px;text-align:center; margin:0;color:#fff; font-weight:normal}
          .PhotographyList ul li.ex div:hover h5{color:#F15A29;}
		.PhotographyList ul li.ex div p{font-size:12px; line-height:21px;}
		.PhotographyList ul li.ex div a{color:#fc0; font-size:12px; position:absolute; left:0; top:300px; text-decoration:none; display:block; margin:0; text-align:right; width:200px;}
		  .PhotographyList ul li.ex div a:hover{color:#fff;}
*/


/* 礼服欣赏*/
#Canonicals{float:left;width:1200px;}
#Canonicals .classifybox{float:left; width:288px;height:432px;background:#666 url(../images/bg_classify.png) repeat;}
  #Canonicals .classifybox .cheader{float:left;width:248px;height:90px; padding:140px 20px 0 20px;font-size:14px; line-height:35px;color:#fff;background:url(../images/icon_c.png) no-repeat;text-align:center}
    #Canonicals .classifybox .cheader h1{ line-height:55px;}
  #Canonicals .classifybox .classify{float:left; width:248px;height:70px; line-height:35px;padding:15px 20px; color:#fff;}
    #Canonicals .classifybox .classify a{color:#FFF; margin:0 12px;}
      #Canonicals .classifybox .classify a:hover{ color:#F15A29}
  .CanonicalsList ul{float:left;width:1200px; }
    .CanonicalsList ul li{float:left;width:288px;height:432px;line-height:45px;position:relative;display:inline-block;vertical-align:top;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: outset 0 1px 3px rgba(0, 0, 0, 0.1);}
      .CanonicalsList ul li:hover .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;opacity:0.6;display:block;background:#000}
      .CanonicalsList ul li:hover .infoLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;opacity:1;display:block}
      .CanonicalsList ul li a{display:block;width:288px;height:432px;position:absolute;top:0;left:0;z-index:6}
      .CanonicalsList ul li img{width:288px;height:432px;border:none;display:inline}
      .CanonicalsList ul li .overLayer,.CanonicalsList ul li .infoLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:288px;height:332px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;padding:100px 0 0 0;color:#fff;}
			
			












/* General Demo Style */
/*
@import url(http://fonts.useso.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/*.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #6b7381;
	background: #f2f2f2;
}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
/*.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
/*.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #6b7381;
	display: inline-block;
}

.codrops-top a:hover {
	color: #424b5a;
	background: rgba(255,255,255,1);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
/*.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #6b7381;
	color: #6b7381;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	opacity: 0.6;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://fontstatic.useso.com/s/lato/v11/nj47mAZe0mYUIySgfn0wpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fontstatic.useso.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fontstatic.useso.com/s/lato/v11/DvlFBScY1r-FMtZSYIYoYw.ttf) format('truetype');
}




.grid {max-width: 69em;list-style: none;margin: 30px auto;padding: 0;}
.grid li {display: block;float: left;padding: 7px;width: 33%;opacity: 0;}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {opacity: 1;}
.grid li a,
.grid li img {outline: none;border: none;display: block;max-width: 100%;}
/* Effect 1: opacity */
/*.grid.effect-1 li.animate {-webkit-animation: fadeIn 0.65s ease forwards;animation: fadeIn 0.65s ease forwards;}
@-webkit-keyframes fadeIn {0% { }100% { opacity: 1; }}
@keyframes fadeIn {0% { }100% { opacity: 1; }}
/* Effect 2: Move Up */
/*.grid.effect-2 li.animate {-webkit-transform: translateY(200px);transform: translateY(200px);-webkit-animation: moveUp 0.65s ease forwards;animation: moveUp 0.65s ease forwards;}
@-webkit-keyframes moveUp {0% { }100% { -webkit-transform: translateY(0); opacity: 1; }}
@keyframes moveUp {0% { }100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }}
/* Effect 3: Scale up */
/*.grid.effect-3 li.animate {-webkit-transform: scale(0.6);transform: scale(0.6);-webkit-animation: scaleUp 0.65s ease-in-out forwards;animation: scaleUp 0.65s ease-in-out forwards;}
@-webkit-keyframes scaleUp {0% { }100% { -webkit-transform: scale(1); opacity: 1; }}
@keyframes scaleUp {0% { }100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }}
/* Effect 4: fall perspective */
/*.grid.effect-4 {-webkit-perspective: 1300px;perspective: 1300px;}
.grid.effect-4 li.animate {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);transform: translateZ(400px) translateY(300px) rotateX(-90deg);-webkit-animation: fallPerspective .8s ease-in-out forwards;animation: fallPerspective .8s ease-in-out forwards;}
@-webkit-keyframes fallPerspective {0% { }100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }}
@keyframes fallPerspective {0% { }100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }}
/* Effect 5: fly (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
/*.grid.effect-5 {-webkit-perspective: 1300px;perspective: 1300px;}
.grid.effect-5 li.animate {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform-origin: 50% 50% -300px;transform-origin: 50% 50% -300px;-webkit-transform: rotateX(-180deg);transform: rotateX(-180deg);-webkit-animation: fly .8s ease-in-out forwards;animation: fly .8s ease-in-out forwards;}
@-webkit-keyframes fly {0% { }100% { -webkit-transform: rotateX(0deg); opacity: 1; }}
@keyframes fly {0% { }100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }}
/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
/*.grid.effect-6 {-webkit-perspective: 1300px;perspective: 1300px;}
.grid.effect-6 li.animate {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform-origin: 0% 0%;transform-origin: 0% 0%;-webkit-transform: rotateX(-80deg);transform: rotateX(-80deg);-webkit-animation: flip .8s ease-in-out forwards;animation: flip .8s ease-in-out forwards;}
@-webkit-keyframes flip {0% { }100% { -webkit-transform: rotateX(0deg); opacity: 1; }}
@keyframes flip {0% { }100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }}
/* Effect 7: helix (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
/*.grid.effect-7 {-webkit-perspective: 1300px;perspective: 1300px;}
.grid.effect-7 li.animate {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: rotateY(-180deg);transform: rotateY(-180deg);-webkit-animation: helix .8s ease-in-out forwards;animation: helix .8s ease-in-out forwards;}
@-webkit-keyframes helix {0% { }100% { -webkit-transform: rotateY(0deg); opacity: 1; }}
@keyframes helix {0% { }100% { -webkit-transform: rotateY(0deg); transform: rotateY(0deg); opacity: 1; }}
/* Effect 8:  */
/*.grid.effect-8 {-webkit-perspective: 1300px;perspective: 1300px;}
.grid.effect-8 li.animate {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: scale(0.4);transform: scale(0.4);-webkit-animation: popUp .8s ease-in forwards;animation: popUp .8s ease-in forwards;}
@-webkit-keyframes popUp {0% { }70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }100% { -webkit-transform: scale(1); opacity: 1; }}
@keyframes popUp {0% { }70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }}
@media screen and (max-width: 900px) {.grid li {	width: 50%;}}
@media screen and (max-width: 400px) {.grid li {	width: 100%;}}*/
			
			
			
			
			
			
			
			
			
			
			
			
			

/* 微电影 */
#Microfilm{float:left;width:1200px;}
#Microfilm .classifybox{float:left; width:380px;height:315px;background:#666 url(../images/bg_classify.png) repeat;}
  #Microfilm .classifybox .cheader{float:left;width:380px;height:120px;background:url(../images/icon_m.png) no-repeat;}
  #Microfilm .classifybox .cur{float:left;width:340px;height:95px; padding:50px 20px;font-size:14px; line-height:35px;color:#fff;text-align:center}
    #Microfilm .classifybox .cur h1{ line-height:55px;}
  #Microfilm .classifybox .classify{float:left; width:240px;height:155px; line-height:35px;padding:20px 0px; color:#fff;}
    #Microfilm .classifybox .classify a{color:#FFF; margin:0 12px;}
      #Microfilm .classifybox .classify a:hover{ color:#F15A29}
  .MicrofilmList ul{float:left;width:1200px; }
    .MicrofilmList ul li{float:left;width:380px;height:315px; margin-bottom:50px;line-height:45px;position:relative;display:inline-block;vertical-align:top;background:#fff;}
      .MicrofilmList ul li .black{float:left;display:block;width:380px;height:235px;position:absolute;}
	   .MicrofilmList ul li .zoom {float:left;width:380px; height:235px; display:block; position:relative; overflow:hidden;background:#fff url(../images/loader.gif) no-repeat center;}
	    .MicrofilmList ul li .zoom img {float:left;width:380px; height:235px;}
		.MicrofilmList ul li:hover .zoomOverlay {position:absolute;top:0; left:0;bottom:0; right:0;display:none;background:url(../images/icon_play.png) no-repeat center;}
		
        .MicrofilmList ul li .title{float:left;width:340px;line-height:30px; padding:10px 20px 0 20px; font-size:18px;color:#231F20;}
        .MicrofilmList ul li .title span{ float:right; font-size:12px;color: #C0C1BF;}
        .MicrofilmList ul li .other{float:left;width:340px;line-height:30px; padding:0 20px; font-size:12px;color: #8D8E8D;}
        .MicrofilmList ul li:hover .title{color:#F15A29;}
		



/* 微电影 
#Microfilm{float:left;width:1200px;}
#Microfilm .classifybox{float:left; width:380px;height:235px;background:#666 url(../images/bg_classify.png) repeat;}
  #Microfilm .classifybox .cheader{float:left;width:380px;height:120px;background:url(../images/icon_m.png) no-repeat;}
  #Microfilm .classifybox .cur{float:left;width:100px;height:95px; padding:10px 20px;font-size:14px; line-height:35px;color:#fff;text-align:center}
    #Microfilm .classifybox .cur h1{ line-height:55px;}
  #Microfilm .classifybox .classify{float:left; width:240px;height:70px; line-height:35px;padding:20px 0px 20px 0; color:#fff;}
    #Microfilm .classifybox .classify a{color:#FFF; margin:0 12px;}
      #Microfilm .classifybox .classify a:hover{ color:#F15A29}
  .MicrofilmList ul{float:left;width:1200px; }
    .MicrofilmList ul li{float:left;width:380px;height:295px; line-height:45px;position:relative;display:inline-block;vertical-align:top;}
      .MicrofilmList ul li .black{float:left;display:block;width:380px;height:235px;position:absolute;}
	   .MicrofilmList ul li .zoom {float:left;width:380px; height:235px; display:block; position:relative; overflow:hidden;background:#fff url(../images/loader.gif) no-repeat center;}
	    .MicrofilmList ul li .zoom img {width:380px; height:235px;}
		.MicrofilmList ul li:hover .zoomOverlay {position:absolute;top:0; left:0;bottom:0; right:0;display:none;background:url(../images/icon_play.png) no-repeat center;}
        .MicrofilmList ul li .infoLayer{float:left;width:340px;height:60px; padding:0 20px;background:#FBFBFB;color:#000;}
         .MicrofilmList ul li .infoLayer h4{font-weight:normal; line-height:60px;}
         .MicrofilmList ul li:hover .infoLayer h4{position:relative;}
        .MicrofilmList ul li:hover .infoLayer h4 a{color:#F15A29; }*/




/* 80新闻 */
#News{float:left;width:1200px;}
  .NewsPhoto ul{float:left;width:1200px;padding:0 0 40px 0;}
      .NewsPhoto ul li.one .overLayer,.NewsPhoto ul li.one .infoLayer,.NewsPhoto ul li.one:hover .overLayer,.NewsPhoto ul li.one:hover .infoLayer,.NewsPhoto ul li.two .overLayer,.NewsPhoto ul li.two .infoLayer,.NewsPhoto ul li.two:hover .overLayer,.NewsPhoto ul li.two:hover .infoLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;display:block;}
      .NewsPhoto ul li.one:hover .overLayer,.NewsPhoto ul li.two:hover .overLayer{opacity:0.6;display:block;background:#000}
      .NewsPhoto ul li.one:hover .infoLayer,.NewsPhoto ul li.two:hover .infoLayer{opacity:1;display:block;}
      .NewsPhoto ul li.one,.NewsPhoto ul li.two{float:left;line-height:45px;position:relative;display:inline-block;vertical-align:top;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: outset 0 1px 3px rgba(0, 0, 0, 0.1);}
      .NewsPhoto ul li.one{width:598px;height:420px;}
      .NewsPhoto ul li.one a{display:block;width:598px;height:420px;position:absolute;top:0;left:0;z-index:6}
      .NewsPhoto ul li.one img{width:598px;height:420px;border:none;display:inline}
      .NewsPhoto ul li.one .overLayer,.NewsPhoto ul li.one .infoLayer{width:538px;height:270px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;padding:150px 30px 0 30px;color:#fff;}
      .NewsPhoto ul li.one p{ line-height:30px;}
	  
      .NewsPhoto ul li.two{width:297px;height:208px;}
      .NewsPhoto ul li.two p{ font-size:12px; line-height:25px;}
      .NewsPhoto ul li.two a{display:block;width:297px;height:208px;position:absolute;top:0;left:0;z-index:6}
      .NewsPhoto ul li.two img{width:297px;height:208px;border:none;display:inline}
      .NewsPhoto ul li.two .overLayer,.NewsPhoto ul li.two .infoLayer{width:257px;height:158px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;padding:50px 20px 0 20px;color:#fff;}

  .NewsList ul{float:left;width:1200px; }
    .NewsList ul li{float:left;width:592px;height:120px; margin-bottom:25px;line-height:45px;position:relative;display:inline-block;vertical-align:top;background:#fff;}
	    .NewsList ul li img {float:left;width:174px; height:120px;}
        .NewsList ul li .title{float:left;width:388px;line-height:30px; padding:10px 15px 0 15px; font-size:18px;color:#231F20;}
        .NewsList ul li .time{float:left;width:388px;line-height:21px; padding:0 15px; font-size:12px;color:#A7A9AC;}
        .NewsList ul li .other{float:left;width:388px;line-height:21px; padding:5px 15px 0 15px; font-size:12px;color:#808285;}
        .NewsList ul li:hover .title{color:#F15A29;}


/* 分页 */
.pages {padding:25px;text-align:center;overflow:hidden;text-shadow:none;}
.pages a{display:inline-block;height:45px; width:45px;line-height:45px;background:#e3e3e3;color:#808285; margin:0 10px 0 0;border-radius:2px;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.pages a.current,.pages a.current:hover{background:#F15A29; color:#fff;}
.pages a:hover{background:#f1f1f1;color:#58595B;}
.pages span{display:inline-block;height:45px;width:45px;line-height:45px;background:#f1f1f1; color:#A7A9AC;margin:0 10px 0 0;border-radius:2px;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.pages .noPage{display:inline-block;width:56px;height:30px;line-height:30px;background:url(../img/icu/titleBg.png) repeat-x 0 -55px ;border:1px solid #e3e3e3;text-align:center;color:#a4a4a4;}

.service{width:100%; height:250px;background:#F0F1F5;overflow: hidden;color:#fff;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
.service ul{width:1200px;margin:0 auto; padding:50px 0; overflow:hidden}
.service ul li{float:left;width:400px;height:150px;line-height:30px;color:#808285;}
.service ul li.logo{background:url(../images/bg_logo.png) no-repeat center;}
.service ul li.ewm{width:150px; padding:0 0 0 250px}


/*页脚*/
#footer{width:100%; background:#000;overflow: hidden;color:#fff;}
#footer_main{width:1200px;margin:0 auto; padding:50px 10px;}
#footer span{ float:right;padding:0 8px 0 0;}
#footer a{color:#fff;}