@charset "UTF-8";
#main{width:1200px;margin:20px auto 50px auto;}
#main .oh{overflow:hidden;}
#main .container_half{float:left;width:588px;}

.cheader{height:40px;padding:10px 0;margin:0 0 20px 0;border-bottom:1px #cccccb solid;}
  .cheader h4{float:left;height:40px;background-image: url(../images/icon_header.png);background-repeat: no-repeat;}
   .cheader h4.one{width:245px;background-position: 0 0;}
   .cheader h4.two{width:266px;background-position: 0 -40px;}
   .cheader h4.three{width:180px;background-position: 0 -80px;}
   .cheader h4.four{width:226px;background-position: 0 -120px;}
   .cheader h4.five{width:205px;background-position: 0 -160px;}
   .cheader h4.six{width:241px;background-position: 0 -200px;}
   .cheader h4.seven{width:297px;background-position: 0 -240px;}
   .cheader h4.eight{width:238px;background-position: 0 -280px;}
   .cheader h4.nine{width:235px;background-position: 0 -320px;}
  .cheader span{float:left;height:40px;line-height:40px;padding:0 10px 0 30px;text-align:right;}
    .cheader span a{font-size:12px;color:#a7a9ab;}
      .cheader span a:hover{color:#ef483d;}
   .cheader span.one{width:915px;}.cheader span.two{width:894px;}.cheader span.three{width:980px;}.cheader span.four{width:934px;}.cheader span.five{width:955px;}.cheader span.six{width:919px;}.cheader span.seven{width:863px;}.cheader span.eight{width:310px;}.cheader span.nine{width:313px;}
    .column{float:left;list-style:none;height:36px;margin:2px 0;}
      .column li{float:left;height:36px;}
        .column li a{color:#636463;line-height:36px;padding:0 25px;display:block;font-size:14px;text-align:center;}
          .column li a:hover{color:#ef483d}
          html .column li.active a{color:#ef483d;border:1px #ef483d dotted;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
		  #main .container:hover .cheader .column li.active a{color:#fff;background:#f2715b;}

/* 推荐 */
#Recommend{float:left;width:1200px;}
  .RecommendList ul{float:left;width:1200px;}
  .RecommendList ul#pl{float:left;width:1200px;}
    .RecommendList ul#pl li,.RecommendList ul#pl li.first{float:left;position:relative;overflow:hidden;display:inline;margin-right:0;}
	.RecommendList ul#pl li.first{background:#f8f8f8;border-bottom:5px solid #ececec;}
      .RecommendList ul#pl li.first{width:468px;height:465px;margin:0;}
        .RecommendList ul#pl li.first:hover{background:#3d3d3d;border-bottom:5px solid #ef483d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/}
    .RecommendList ul#pl li.first .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:468px;height:335px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;}
      .RecommendList ul#pl li.first:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover2.png) no-repeat center 120px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
      .RecommendList ul#pl li.first .photo{width:468px;height:335px;overflow:hidden;}
    .RecommendList ul#pl li.first .intro{float:left;width:428px;height:106px;padding:10px 20px;}
      .RecommendList ul#pl li.first .intro h3{width:100%;line-height:40px;height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        .RecommendList ul#pl li.first .intro h3 a{color:#ef483d;}
      .RecommendList ul#pl li.first .intro p{width:100%;color:#808285;line-height:21px;font-size:12px;padding:0 0 3px 0;}
	
      .RecommendList ul#pl li{width:224px;height:224px;margin:0 0 0 20px;background:#f8f8f8;border-bottom:2px solid #ececec;}
        .RecommendList ul#pl li:hover{background:#3d3d3d;border-bottom:2px solid #ef483d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/}
        .RecommendList ul#pl li .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:224px;height:156px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;}
          .RecommendList ul#pl li:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover.png) no-repeat center 50px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
        .RecommendList ul#pl li.mr22{margin-right:22px;}
        .RecommendList ul#pl li.mb23{margin-bottom:18px;}
        .RecommendList ul#pl li .photo{width:224px;height:156px;overflow:hidden;}
        .RecommendList ul#pl li .intro{float:left;width:194px;height:51px;padding:10px 15px;}
          .RecommendList ul#pl li .intro h6{width:100%;line-height:25px;padding:0 0 2px;height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
            .RecommendList ul#pl li .intro h6 a{color:#ef483d;}
          .RecommendList ul#pl li .intro p{width:100%;color:#808285;line-height:21px;font-size:12px;padding:0 0 3px 0;}
	
	
	



/*客片*/
.showcase{height:660px;width:1200px;}
.mr_frbox{height:660px;position: relative;z-index: 400;}
  .mr_frBtnL,.mr_frBtnR{float:left;cursor:pointer;display:inline;width:28px;height:46px;position:relative;z-index:1000;}
  .mr_frBtnR{margin:297px 0 0 0;right:-50px;}
  .mr_frBtnL{margin:297px 10px 0 0;left:-50px;}
  .mr_frUl{float:left;height:550px;width:1170px;margin-left:-38px;}
	.mr_frUl ul li{display:inline;float:left;/*height:389px;*/width:160px;overflow:hidden;position:relative;margin:0 13px 0 0;}
	  .mr_frUl ul li a{height:315px;display:block;margin:0 0 15px 0;}
      .mr_frUl ul li a:hover{background:#3d3d3d;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;/*渐变*/ }
	     .mr_frUl ul li a img{/*display:block;*/width:160px;height:250px;}
	       .mr_frUl ul li a:hover img{filter:alpha(opacity=80);opacity:0.8;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;/*渐变*/}
	  .mr_frUl ul li a .intro{width:160px;height:40px;padding:10px 0;border-bottom:5px solid #ebebeb;}
	    .mr_frUl ul li a:hover .intro{border-bottom:5px solid #ef483d;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;/*渐变*/ }
	    .mr_frUl ul li a .intro .time{float:left;width:40px;height:40px;text-align:center;color:#7f7f7f}
	      .mr_frUl ul li a:hover .intro .time{color:#ef483d}
	      .mr_frUl ul li a .intro .time .d{font-size:24px;line-height:22px;width:40px;display:block;text-align:center;font-weight:bold;}
	      .mr_frUl ul li a .intro .time .m{font-size:12px;line-height:18px;width:40px;display:block;text-align:center}
	    .mr_frUl ul li a .intro .title{float:left;width:110px;height:40px;padding:0 10px 0 0;}
		  .mr_frUl ul li a .intro .title h6{float:left;line-height:22px;width:110px;height:22px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	        .mr_frUl ul li a:hover .intro .title h6{color:#fff}
		  .mr_frUl ul li a .intro .title span{float:left;width:110px;height:12px;margin:3px 0 0 0;background:url(../images/icon_showcase_bg.png) no-repeat 0 0;}

/* 摄影作品 */
.PhotographyList{width:1200px;overflow:hidden;}
  .PhotographyList ul{float:left;width:1200px;overflow:hidden;position:relative;z-index:100;}
   .PhotographyList ul li{float:left;width:184px;height:224px;padding:0 9px;overflow:hidden;position:relative;z-index:1000;}
    .PhotographyList ul li a{width:184px;height:184px;}
    .PhotographyList ul li.o{padding:0 9px 0 0;left:0}
    .PhotographyList ul li.l{padding:0 0 0 9px;left:0}
    .PhotographyList ul li.f{padding:9px 9px 0 0;border-top:1px dotted #cccccb;}
    .PhotographyList ul li.t{padding:9px 0 0 9px;border-top:1px dotted #BBC2C8;}
    .PhotographyList ul li.ltd{padding:9px 9px 0 9px;margin:10xp 0 0 0;}
     .PhotographyList ul li .photo{width:184px;height:184px;overflow:hidden;}
      .PhotographyList ul li a .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:184px;height:184px;position:absolute;text-align:center;opacity:0;top:0;z-index:4;}
      .PhotographyList ul li a:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover.png) no-repeat center 60px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
	  .PhotographyList ul li.f a:hover .overLayer,.PhotographyList ul li.ltd a:hover .overLayer{margin:9px 0 0 0}
      .PhotographyList ul li a .photo{width:184px;height:184px;overflow:hidden;}
    .PhotographyList ul li a .intro{float:left;width:164px;height:30px;padding:5px 10px;}
      .PhotographyList ul li:hover a .intro{background:#3d3d3d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/}
      .PhotographyList ul li a .intro h6{width:100%;line-height:30px;text-align:center;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        .PhotographyList ul li a .intro h6 a{color:#ef483d;}

/* 热点景区 */
.hotspots{width:1200px;overflow:hidden;}
  .hotspots ul{float:left;width:1200px;overflow:hidden;position:relative;z-index:100;}
   .hotspots ul li{float:left;width:184px;height:224px;padding:0 9px;overflow:hidden;position:relative;z-index:1000;}
    .hotspots ul li a{width:184px;height:184px;}
    .hotspots ul li.o{padding:0 9px 0 0;left:0}
    .hotspots ul li.l{padding:0 0 0 9px;left:0}
    .hotspots ul li.f{padding:9px 9px 0 0;border-top:1px dotted #cccccb;}
    .hotspots ul li.t{padding:9px 0 0 9px;border-top:1px dotted #BBC2C8;}
    .hotspots ul li.ltd{padding:9px 9px 0 9px;margin:10xp 0 0 0;}
     .hotspots ul li .photo{width:184px;height:184px;overflow:hidden;}
      .hotspots ul li a .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:184px;height:184px;position:absolute;text-align:center;opacity:0;top:0;z-index:4;}
      .hotspots ul li a:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover.png) no-repeat center 60px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
	  .hotspots ul li.f a:hover .overLayer,.hotspots ul li.ltd a:hover .overLayer{margin:9px 0 0 0}
      .hotspots ul li a .photo{width:184px;height:184px;overflow:hidden;}
    .hotspots ul li a .intro{float:left;width:164px;height:30px;padding:5px 10px;}
      .hotspots ul li:hover a .intro{background:#3d3d3d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/}
      .hotspots ul li a .intro h6{width:100%;line-height:30px;text-align:center;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        .hotspots ul li a .intro h6 a{color:#ef483d;}
	  
	  
/* 微电影 */
.MicrofilmList{float:left;width:1200px;height: 440px;}
  .MicrofilmList .hot{ float:left;width:468px;height:435px;background:#f8f8f8;border-bottom:5px solid #ececec;}
    .MicrofilmList .hot:hover{background:#3d3d3d;border-bottom:5px solid #ef483d;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out;/*渐变*/ }
   .MicrofilmList .hot img{float:left;width:468px;height:287px;}
   .MicrofilmList .hot .intro{float:left;width:428px;height:133px;padding:10px 20px;}
     .MicrofilmList .hot .intro h3{width:100%;line-height:40px;height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	   .MicrofilmList .hot:hover .intro h3 a{color:#ef483d;}
     .MicrofilmList .hot .intro p{width:100%;color:#808285;line-height:23px;font-size:12px;padding:0 0 3px 0;}
  .MicrofilmList ul{float:left;width:732px;}
    .MicrofilmList ul li{ float:left;width:340px;height:210px;margin:0 0 21px 26px;position:relative;overflow:hidden;}
      .MicrofilmList ul li.b{margin:0 0 0 26px;}
      .MicrofilmList ul li a{width:340px;height:210px;color:#fff;position:relative;z-index:40;}
       .MicrofilmList ul li a img{width:340px;height:210px;}


/* 礼服 */
.Canonicals{float:left;width:1200px;padding:0 0 10px 0}
  .CanonicalsList ul{float:left;width:1200px;}
    .CanonicalsList ul li{float:left;width:224px;height:420px;margin:0 20px 0 0;position:relative;overflow:hidden;display:inline;background:#FBFBFB;border-bottom:5px solid #ececec;text-align:center}
      .CanonicalsList ul li.f{margin:0;}
        .CanonicalsList ul li:hover{background:#3d3d3d;border-bottom:5px solid #ef483d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/}
    .CanonicalsList ul li .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:224px;height:333px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;}
      .CanonicalsList ul li:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover.png) no-repeat center 173px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
      .CanonicalsList ul li .photo{width:224px;height:333px;overflow:hidden;}
    .CanonicalsList ul li .intro{float:left;width:194px;height:100px;padding:10px 15px;}
      .CanonicalsList ul li .intro h4{width:100%;line-height:40px;height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
        .CanonicalsList ul li:hover .intro h4 a{color:#ef483d;}
      .CanonicalsList ul li .intro p{width:100%;color:#808285;line-height:25px;font-size:12px;padding:0 0 12px 0;}

/* 礼服 
.Canonicals{float:left;width:1200px;padding:0 0 10px 0}
  .CanonicalsList ul{float:left;width:1200px;}
    .CanonicalsList ul li{float:left;line-height:45px;position:relative;display:inline-block;vertical-align:top;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: outset 0 1px 3px rgba(0, 0, 0, 0.1);}
      .CanonicalsList ul li.hot{width:468px;height:333px;margin:0 20px 0 0;}
      .CanonicalsList ul li.o{width:224px;height:333px;margin:0 20px 20px 0;}
      .CanonicalsList ul li.t{width:224px;height:150px;margin:0 20px 0 0;}
      .CanonicalsList ul li.f{margin:0;}
      .CanonicalsList ul li:hover .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;opacity:0.6;display:block;background:#000}
      .CanonicalsList ul li:hover .infoLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;opacity:1;display:block}
      .CanonicalsList ul li a{display:block;position:absolute;top:0;left:0;z-index:6}
       .CanonicalsList ul li.hot a{width:468px;height:333px;}
       .CanonicalsList ul li.o a{width:224px;height:340px;}
       .CanonicalsList ul li.t a{width:224px;height:150px;}
      .CanonicalsList ul li img{border:none;display:inline}
       .CanonicalsList ul li.hot img{width:468px;height:333px;}
       .CanonicalsList ul li.o img{width:224px;height:333px;}
       .CanonicalsList ul li.t img{width:224px;height:150px;}
      .CanonicalsList ul li .overLayer,.CanonicalsList ul li .infoLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;color:#fff;}
       .CanonicalsList ul li.hot .overLayer,.CanonicalsList ul li.hot .infoLayer{width:468px;height:213px;padding:120px 0 0 0;}
       .CanonicalsList ul li.o .overLayer,.CanonicalsList ul li.o .infoLayer{width:224px;height:233px;padding:100px 0 0 0;}
       .CanonicalsList ul li.t .overLayer,.CanonicalsList ul li.t .infoLayer{width:224px;height:120px;padding:30px 0 0 0;}*/
		
/* 团购 */
.GrouppurchaseList,.GrouppurchaseList ul{float:left;width:1200px;}
  .GrouppurchaseList ul li{ float:left;width:282px;margin:0 24px 0 0;background:#FBFBFB;border-bottom:5px solid #ececec;position:relative;}
    .GrouppurchaseList ul li:hover{background:#3d3d3d;border-bottom:5px solid #ef483d;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;/*渐变*/ }
    .GrouppurchaseList ul li .overLayer{-webkit-transition:opacity 0.3s linear;-moz-transition:opacity 0.3s linear;-ms-transition:opacity 0.3s linear;-o-transition:opacity 0.3s linear;transition:opacity 0.3s linear;width:282px;height:192px;position:absolute;text-align:center;opacity:0;top:0;left:0;z-index:4;}
      .GrouppurchaseList ul li:hover .overLayer{display:block;background:#000 url(../images/img_bg_hover.png) no-repeat center 60px;opacity:.3;/* For IE 5-7 */filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);/* For IE 8 */-MS-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
  .GrouppurchaseList ul li.l{margin:0;}
   .GrouppurchaseList ul li img{float:left;width:282px;height:192px;}
   .GrouppurchaseList ul li .intro{float:left;width:242px;height:120px;padding:10px 20px;}
     .GrouppurchaseList ul li .intro h3{width:100%;line-height:40px;font-weight:normal;height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	   .GrouppurchaseList ul li:hover .intro h3 a{color:#ef483d;}
     .GrouppurchaseList ul li .intro p{width:100%;color:#808285;font-size:12px;line-height:21px;padding:0 0 3px 0;}
	   .GrouppurchaseList ul li:hover .intro p{color:#a4abb6;}
    .GrouppurchaseList ul li .other{float:left;width:242px;height:55px;line-height:55px;padding:5px 20px 15px 20px;}
     .GrouppurchaseList ul li .other .price{float:left;width:162px;color:#ef483d}
      .GrouppurchaseList ul li .other .price .y{width:35px;font-size:52px;line-height:55px;padding:0;}
      .GrouppurchaseList ul li .other .price .n{width:127px;font-size:28px;line-height:30px;padding:4px 0 0 0;}
      .GrouppurchaseList ul li .other .price .o{width:127px;font-size:12px;line-height:20px;color:#808285;text-decoration: line-through;}
     .GrouppurchaseList ul li .other .bt{float:right;margin:12px 0}
      .GrouppurchaseList ul li .other .bt a{ width:80px;height:35px;line-height:35px;color:#FFF;font-size:14px;text-align:center;background:#3d3d3d;display:block;border-radius:4px;-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);}
	    .GrouppurchaseList ul li:hover .other .bt a{background:#ef483d;}
       .GrouppurchaseList ul li .other .bt a:hover{background:#fff;color:#ef483d;}

/* 资讯 */
.NewsList{float:left;width:588px}
  .NewsList .hot{ float:left;width:155px;height:210px;}
   .NewsList .hot img{float:left;width:155px;height:210px;}
  .NewsList ul{float:left;width:588px;padding:0;}
    .NewsList ul li{ float:left;width:588px;height:35px;}
      .NewsList ul li a{width:508px;line-height:35px;overflow:hidden}
      .NewsList ul li span{float:right;width:80px;line-height:35px;color:#A7A9AC}
      .NewsList ul li:hover a{color:#ef483d;}
